[submodule "BitSquire/vendor/spdlog"]
	path = BitSquire/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "BitSquire/vendor/GLFW"]
	path = BitSquire/vendor/GLFW
	url = https://github.com/glfw/glfw
